.container {
    width: 50%;
    margin: 0 auto;
    margin-top: 100px;
}

.alert {
    margin-top: 10px;
    padding-left: 8px;
    color: red;
}

.hidden {
    display: none;
}

.invalid {
    background: rgba(252, 226, 178, 0.868) !important;
    border: 2px solid rgba(241, 190, 139, 0.868) !important;
}