.container {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

.alert {
    margin-top: 10px;
    padding-left: 8px;
    color: red;
}

.hidden {
    display: none;
}

.invalid {
    background: rgba(248, 206, 206, 0.868) !important;
    border: 2px solid rgba(246, 189, 189, 0.868) !important;
}

.des-container {
    width: 200px;
    margin: 0 auto;
    margin-top: 30px;
}

.des-container ul {
    padding-left: 0;
}

.submitted {
    color: rgb(47, 211, 35);
}